td{
  height: 30px;
  width: 30px;
  border: black solid 1px;
  background-color: blue;
}

#header{
  background-color: blue;
  color: white;
  text-align: center;
  font-family: 'Lucida Console'; Monaco, monospace;
}


table{
  border-collapse: collapse;
  margin: auto;
}

li {
  font-family: 'Lucida Console'; Monaco, monospace;
}

.redFont {
  color: red;
  font-weight: bold;
}

.ship {
  background-color: black;
}

.redBorder {
  border: red solid 5px;
}

#targetsHeader, #myRemainingShips {
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Lucida Console'; Monaco, monospace;
}

#myShipsHeader, #targetShipsHeader{
  text-align: center;
  color: white;
  background-color: black;
  font-family: 'Lucida Console'; Monaco, monospace;
}

button {
  margin: auto;
}

.validPlacement {
  background-color: yellow;
}

.hidden {
  visibility: hidden;
}

.invalidPlacement {
  background-color: grey;
}

.sunk {
  color: red;
  text-decoration: line-through;
}

.hit {
  background-color: red;
}

.miss {
  background-color: white;
}

#rightBox, #myBox{
  background-color: #a3c1ad;
  padding: 10px;
  color: black;
  height: 300px;
  border: black solid 2px;
}

#audio {
  visibility: hidden;
}

.one {
  background-color: red;
}

.two {
  background-color: orange;
}

.three {
  background-color: yellow;
}

.fourPlus {
  background-color: purple;
}

.tenPlus {
  background-color: green;
}
